/**
* global font
*/

font-family-normal = "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
font-weight-bold   = 600
font-heading-normal = 32px

/**
* global color
*/

color-bg-base = #fff
color-text-base = #333

/**
 * scrollbar size
 */

scrollbar-width = 10px
scrollbar-height = 10px
scrollbar-radius = 12px

/**
 * scrollbar color
 */

scrollbar-thumb-color = rgba(125, 125, 125, 0.7)
scrollbar-track-color = rgba(0, 0, 0, 0.2)

